# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASS=your_postgres_password_here

# JWT Security Secrets (Must be strong 256-bit secret keys)
JWT_ACCESS_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_REFRESH_SECRET=8Zz5u8xA?D(G+KbPeShVmYq3s6v9y$B&E)H@McQfTjWnZr4u7x!A%D*F-JaNdRg
